@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

p {
  color: #fff;
}

.box, .card {
    background-color: rgba(10, 10, 10, 0.3);
}

.content ul {
  color: #fff;
  margin-left: 1rem;
}

.container {
  padding: 0 1.5rem;
}

.inter {
    font-family: "Inter";

    nav a {
	color: #fff;
	font-weight: 300;
	text-decoration: underline solid transparent;
	transition: text-decoration 0.2s ease;

	&:hover {
	    text-decoration: underline solid #3273dc;
	}
    }
}

.footer {
  background-color: transparent;
}

.hero-body {
  padding: 3rem 0;
}

.mobile-links {
  background-color: transparent;
  box-shadow: none;
 }

.navbar {
  background-color: transparent;
}
