<div class="mb-5">
  <p class="mb-2"><%= title %></p>
  <div class="tags are-medium">
    <% tags.each do |tag| %>
      <span class="tag is-dark"> <%= tag %> </span>
    <% end %>     
  </div>
</div>
