---
title: dillon o'connor
---

<section class="hero is-bold mt-5">
  <div class="hero-body">
    <p class="title has-text-white">
      I design and implement scalable, data-driven web applications
    </p>
    <p class="subtitle is-4 has-text-grey">
      and I'm fluent in <span class="has-text-danger">Ruby</span>, 
                        <span class="has-text-warning">HTML</span>,
                        <span class="has-text-info">CSS</span>,
                        <span class="has-text-primary">JavaScript</span>,
                        and Chinese (😃)
    </p>   
  </div>
</section>

<p class="is-size-4 has-text-white">Featured Projects</p>

<section class="mt-5 columns is-justify-content-space-between">

  <div class="column">
    <article class="message mt-3">
      <div class="message-header">
        <p>OST</p>
      </div>
      <div class="message-body">
        A user-driven database of original soundtracks (OSTs) from popular Asian dramas. 
        Built with Rails, Bulma, and the Spotify API (via RSpotify).
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message mt-3">
      <div class="message-header">
        <p>AQI</p>
      </div>
      <div class="message-body">
        An Air Quality Index (AQI) monitoring tool, powered by data from the World Air Quality Index project.
        Extends existing resources with additional data visualization. Built with Rails, PostgreSQL, Chartkick, 
        and Tailwind.
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message mt-3">
      <div class="message-header">
        <p>CD</p>
      </div>
      <div class="message-body">
        A simple Chinese-English dictionary based on CC-CEDICT. Currently built with Rails, PostgreSQL, 
        Textacular, Bulma, and Regex magic. Upgrades planned to finetune search accuracy.
      </div>
    </article>
  </div>
<section>
